# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#amplify
amplify/.config/local-*
amplify/\#current-cloud-backend
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
#amplify/cli.json 
#amplify/backend/auth/
#amplify/backend/api/
#amplify/backend/video/
#amplify/backend/backend-config.json
#amplify/backend/tags.json
#amplify/backend/function/authJWTLamdaedge/amplify.state
#amplify/backend/function/authJWTLamdaedge/authJWTLamdaedge-cloudformation-template.json
#amplify/backend/function/authJWTLamdaedge/function-parameters.json
#amplify/backend/function/authJWTLamdaedge/parameters.json
#amplify/backend/function/authJWTLamdaedge/amplify.state
#amplify/backend/function/CFsignURL/
amplify/team-provider-info.json
#amplify/\#current-cloud-backend
amplify/.config/local-*
#amplify/mock-data
#amplify/backend/amplify-meta.json
#amplify/backend/awscloudformation
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig


#docs
docs/

#.gitignore
package-lock.json
