.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.player-wrapper
{
  display: flex; 
  justify-content: center;
  align-items: top;
  margin: 0 0 20px;
}

.headerPlayer{
  text-align: center;
  line-height: 0px;
  color: rgb(220, 224, 228);
  font-size: 24px;
  margin: 5px;
  bottom: 100000000px;
}

.form-URL{
  display: flex; 
  justify-content: left;
  align-items: top;
  width: 100%;
  padding: 6px 100px;
  margin: 18px 0;
  box-sizing: border-box;
}

.formURL{
  width: 400px;
  height: 38px;
  margin: 10px;
}

.formBot{
  background-color:	#FF9900;
  width: 50px;
  height: 36px;
  color: white;
  margin: 10px;
  border: none;
}

.formLabel{
  text-align: center;
  line-height: 0px;
  color: rgb(220, 224, 228);
  font-size: 20px;
}


.DebugBOXger{
  line-height: 0px;
  color: rgb(220, 224, 228);
  margin: 0px;
  padding: 6px 200px;
  

}

.DebugBOXtitle{
  text-align: left;
  line-height: 0px;
  color: rgb(220, 224, 228);
  font-size: 16px;
  margin: 0 0 15px;
}

.DebugBOX{
  margin: 0;
  background-color: #282c34;
  line-height: 0px;
  text-align: left;
  color: #26262626;
  overflow: auto;
  scrollbar-width: none;
  
  
}

.DebugTable{
  table-layout: flex;
  word-wrap: break-all;
  white-space: nowrap;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
